body {
    background-color: #FAF6F2;
}

/* HEADER SECTION */
header {
    color: white;
    background-color: #AD8800;
    position: absolute;
    height: 100px;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

h1 {
    position: relative;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Rum Raisin',
        sans-serif;
    text-transform: uppercase;
}
h2{
    color: #AD8800;
}

h1>a:link {
    font-family: 'Rum Raisin',
        sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

h1>a:visited {
    font-family: 'Rum Raisin',
        sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

nav {
    margin-top: 85px;
    font-family: 'Roboto', sans-serif;
}

nav>a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
}

nav>a:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
}

nav>a:hover {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    margin-bottom: 5px;
    border-bottom: 2px solid white;
}

/* END OF HEADER SECTION */
footer {
    width: 100%;
    height: 50%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: small;
    margin-bottom: 0px;
    position: fixed;
    display: flex;
    align-items: center;
}

.body {
    clear: both;
    padding-top: 202px;
    text-decoration: none;
    font-family: none;
    padding-left: 150px;
}

.socialmedia {
    display: flex;
    margin-right: 700px;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
    
}

.rights {
    position: absolute;
    bottom: 0px;
}
#map{
    position: absolute;
    height: 50%;
    display: flex;
    width: 100%;
    background-color: #ded1bd;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-around;

}

.mapouter {
    height: 350px;
    width: 800px;
    position:absolute;
    text-align:right;
    border-left: 3px solid #AD8800;
    padding-left: 80px;
    margin-left: 600px;
    
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 350px;
    width: 800px;
    margin-bottom: 100px;
    border-radius: 10px;  
}